* {
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: rgb(209, 223, 238);
  border: 1px solid transparent;
}

.content-wrap {
  margin: 30px;
  margin-top: 0;
}

.whole-menu-title-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__emoji,
  &__txt {
    font-size: 50px;
    margin: 0 2.5px;
  }
}

.menu-select-ct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    width: 160px;
    padding: 5px 30px;
    margin: 0 5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 1px;
    margin-bottom: 5px;
  }
}

.menu-managing-ct {
  background-color: #fff;
  padding: 30px 30px;

  .menu-managing-titleBox {
    display: flex;
    align-items: center;
    justify-content: center;

    &__emoji {
      font-size: 30px;
      margin-right: 10px;
    }

    &__txt {
    }

    &__menuCount {
      font-weight: bold;
      margin-left: auto;
    }
  }

  .menu-mananging-inputBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &__input {
      border: none;

      background-color: rgb(209, 223, 238);
      border-radius: 50px;
      flex: 1 1 80%;
      width: 80%;
      padding: 15px;
      font-size: 20px;
      margin-right: 10px;
      outline: none;
      margin-top: 5px;
      margin-bottom: 5px;

      &:focus::placeholder {
        color: transparent;
      }

      &::placeholder {
        color: #fff;
      }
    }

    &__okBtn {
      color: #fff;
      flex: 0 1 10%;
      background-color: mediumturquoise;
      border-radius: 50px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .menu-list-ct {
    .menu-list {
      width: 100%;
      &__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        &__name {
          font-weight: bold;
          font-size: 20px;
          margin-left: 10px;
          flex: 1 1 70%;
          padding: 10px 5px;
        }
        &__okBtn {
          margin-left: auto;
          margin-right: 5px;
        }
        button {
          background-color: rgb(230, 230, 230);
          border-radius: 50px;
          flex: 0 1 5%;
          padding: 10px 5px;
        }
      }
    }
  }
}

.test-message {
  border: 1px solid red;
  display: flex;
}

.test-text {
  border: 1px solid blue;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.test-text::after {
  content: '';
  bottom: 0px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, lightgray, transparent);
}

.more_view_btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  border: none;
  width: 55px;
  height: 25px;
  border-radius: 10px;
  z-index: 1;
  color: #fff;
  background-color: dodgerblue;
  // box-shadow: ;
}
